/* 2) გამოიყენეთ :link რათა ყველა არასდროს დაჭერილი
 ლინკის ფერი იყოს ლურჯი  */


a:link {
    color: blue;
}



/* 3)გამოიყენეთ :visited რათა ყველა უმვე მონახულებული 
ლინკის ფერი იყოს იასამნისფერი*/

a:visited {
    color: purple; 
}




/* გამოიყენეთ :hover რათა მაუსის ლინკზე გადატარებისას 
ტექსტის ფერი და background შეიცვალოს  */