
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}

#main-title {
    font-size: 2.5em;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.section-title {
    color: #28a745;
}

.fruit-list li, .vegetable-list li, .recipe-list li {
    margin: 5px 0;
}

